{% extends 'base.html.twig' %}
{% block container %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 padding-right">
                    <div class="features_items"><!--features_items-->
                        <h2 class="title text-center">Features Items</h2>
                        {% for product in products %}
                            {% set class = loop.index % 4 == 0  ? 'col-sm-3' : 'col-sm-3'%}
                            <div class="{{ class }}">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <a href="{{ url ('product', {"id":product.id, "name":product.name}) }}"> <img src="{{ asset('pictures/'~product.getFirstImage().filename)}}" alt=""/></a>
                                            <h2>${{ product.price }}</h2>
                                            <h5 class="product-title"><a title="{{ product.name }}" href="{{ url ('product', {"id":product.id, "name":product.name}) }}">{{ product.name }}</a></h5>
                                            <a href="{{ url('add-to-cart', {'id':product.id}) }}" class="btn btn-default add-to-cart"><i
                                                        class="fa fa-shopping-cart"></i>Add to cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if loop.index %4==0 %}
                        <div class="col-sm-12">
                            {% endif %}
                        {% endfor %}
                    </div><!--features_items-->
                </div>
            </div>
        </div>
        </div>
    </section>
{% endblock %}
